/*!
 * global.css
 * /Content/ux/global.css
 */

.x-panel-body-default {
    background: transparent;
    border: 1px solid #113661;
    border-top: none;
}

.x-menu .x-panel-body-default {
    background: #fff;
    border: none;
}

.x-grid-body {
    border-top: 1px solid #c0c0c0;
}

.x-grid .x-panel-body-default {
    background: #113661;
    border: none;
}

.x-custom-toolbar .x-panel-body-default {
    background-color: #113661;
    border: 1px solid #113661;
    border-bottom-width: 1px !important;
}

.x-custom-toolbar .x-toolbar-default {
    background: transparent;
}

.x-custom-toolbar .x-form-item-label {
    color: #fff;
}

.x-custom-tree-panel .x-panel-header-default {
    background-color: #144585;
    border: 1px solid #144585;
}

.x-custom-tree-panel .x-toolbar-default {
    background-color: #144585;
    border: none;
}

.x-custom-tree-panel .x-toolbar-default .x-form-text {
    color: #b8d2e9;
    background: #0d3e80;
    border: none;
    height: 30px;
    line-height: 22px;
}

.x-custom-tree-panel .x-toolbar-default .x-form-text::-webkit-input-placeholder {
    color: #b8d2e9;
}

.x-custom-tree-panel .x-toolbar-default .x-form-text:-moz-placeholder {
    color: #b8d2e9;
}

.x-custom-tree-panel .x-toolbar-default .x-form-text::-moz-placeholder {
    color: #b8d2e9;
}

.x-custom-tree-panel .x-toolbar-default .x-form-text:-ms-input-placeholder {
    color: #b8d2e9;
}

.x-treepicker {
    border-width: 1px;
    border-style: solid;
}

.x-treepicker .x-panel-header-default {
    background-color: #144585;
    border: 1px solid #144585;
}

.x-treepicker .x-toolbar-default {
    background-color: #144585;
    border: none;
}

.x-treepicker .x-toolbar-default .x-form-text {
    color: #b8d2e9;
    background: #0d3e80;
    border: none;
    height: 30px;
    line-height: 22px;
}

.x-treepicker .x-toolbar-default .x-form-text::-webkit-input-placeholder {
    color: #b8d2e9;
}

.x-treepicker .x-toolbar-default .x-form-text:-moz-placeholder {
    color: #b8d2e9;
}

.x-treepicker .x-toolbar-default .x-form-text::-moz-placeholder {
    color: #b8d2e9;
}

.x-treepicker .x-toolbar-default .x-form-text:-ms-input-placeholder {
    color: #b8d2e9;
}

.x-treepicker .x-panel-body-default {
    background-color: #144585;
    border: 1px solid #144585;
}

.x-treepicker .x-grid-cell {
    background-color: transparent;
}

.x-form-empty-field, textarea.x-form-empty-field {
    color: #b8d2e9;
}

.x-btn-default-toolbar-small {
    padding: 5px;
    border: none;
    border-style: none;
    background-image: none;
    background-color: #1369bf;
}

.x-btn-default-toolbar-small-over {
    background-color: #1059a2;
}

.x-btn-default-toolbar-small .x-btn-inner {
    color: #fff;
}


.x-custom-tree-panel .x-panel-body-default {
    background: #144585;
}

.x-custom-tree-panel .x-docked-top {
    border-bottom-width: 1px !important;
}

.x-custom-tree-panel .x-grid-header-ct {
    border: none;
}

.x-custom-tree-panel .x-grid-body {
    border: 1px solid #144585;
    border-top: none;
}

.x-custom-tree-panel .x-grid-cell {
    color: #b9cbcb;
    background-color: transparent;
}

.x-custom-tree-panel .x-grid-row-alt .x-grid-td {
    color: #fff;
    background: #4c9aff;
}

.x-custom-tree-panel .x-grid-row-focused .x-grid-td {
    color: #fff;
    background: #4c9aff;
}

.x-custom-tree-panel .x-grid-row-over .x-grid-td {
    color: #fff;
    background: #4c9aff;
}

.x-custom-tree-panel .x-grid-row-selected .x-grid-td {
    color: #fff;
    background: #4c9aff;
}

.x-docked-top-with-bottom {
    border-bottom-width: 1px !important;
}

.x-panel-header-default {
    background-color: #113661;
    border: 1px solid #113661;
}

.x-panel-header-default .x-tool-img {
    background-color: transparent;
    filter: alpha(opacity=100);
    opacity: 1
}

.x-panel-header-default .x-panel-header-glyph {
    color: #b1c9e0;
    line-height: 18px;
    opacity: 1;
}

.x-panel-header-text-default {
    color: #b1c9e0;
}

.x-btn-default-toolbar-small .x-btn-glyph {
    line-height: 18px;
    opacity: 1;
    color: #fff;
}

.x-window-header-default .x-window-header-glyph {
    line-height: 18px;
    opacity: 0.8;
}

.x-tab-default .x-tab-glyph {
    opacity: 0.8;
}

.x-menu-item-glyph {
    line-height: 18px;
    opacity: 0.8;
}

.x-grid-locked .x-grid-inner-locked {
    border-color: #c0c0c0;
}

.x-grid-expander .x-grid-rowbody {
    background-color: #f8f8f8;
    color: #666;
    font: 12px/15px helvetica,arial,verdana,sans-serif;
    padding: 5px 10px;
}

.x-grid-expander .row-table td {
    padding: 5px 5px 5px 0;
}

.x-cell-icon {
    margin: 0 5px;
}

.x-danger-panel .x-tool-img {
    background-color: #df3e3e;
}

.x-danger-panel .x-panel-header-default {
    line-height: 18px;
    opacity: 1;
    background-color: #df3e3e;
    background-image: none;
    border: 1px solid #df3e3e;
}

.x-border-body-panel {
    border: 1px solid #c0c0c0;
}

.x-tip-default {
    border-radius: 4px;
    border: 0px solid rgb(51, 51, 51);
    background-color: rgba(50, 50, 50, 0.5)
}

.x-tip-header-text-container-default {
    color: rgb(255, 255, 255);
}

.x-tip-body-default {
    color: rgb(255, 255, 255);
}

.x-tip-body-default a {
    color: rgb(255, 255, 255);
}

.x-custom-tool .x-tool-print {
    background-image: url('/Content/themes/icons/print.png');
}

.x-toolbar-footer {
    background: #f8f8f8 none repeat scroll 0 0;
    border-top: 1px solid #c0c0c0 !important;
    border-right: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    margin: 0;
    padding: 6px 0 6px 6px;
}

.x-layout-split-left,
.x-layout-split-right,
.x-layout-split-top,
.x-layout-split-bottom,
.x-splitter-collapsed .x-layout-split-left,
.x-splitter-collapsed .x-layout-split-right,
.x-splitter-collapsed .x-layout-split-top,
.x-splitter-collapsed .x-layout-split-bottom {
    background-image: url('/Content/themes/ux/images/spliter.png');
    background-repeat: no-repeat;
    display: block;
}

.x-layout-split-left {
    background-position: -95px -5px;
}

.x-layout-split-right {
    background-position: -110px -5px;
}

.x-layout-split-top {
    background-position: -5px -5px;
}

.x-layout-split-bottom {
    background-position: -50px -5px;
}

.x-splitter-collapsed .x-layout-split-left {
    background-position: -110px -5px;
}

.x-splitter-collapsed .x-layout-split-right {
    background-position: -95px -5px;
}

.x-splitter-collapsed .x-layout-split-top {
    background-position: -50px -5px;
}

.x-splitter-collapsed .x-layout-split-bottom {
    background-position: -5px -5px;
}

.x-mask {
    background: #113661;
}

.x-mask-msg {
    background-color: #113661;
}

.x-mask-msg-text {
    color: #fff;
}

.x-grid-header-ct {
    border: none;
    background-color: #102d56;
}

.x-column-header {
    border: none;
    color: #458ae6;
    background-color: transparent;
}

.x-column-header-inner {
    padding: 10px;
}

.x-column-header-over, .x-column-header-sort-ASC, .x-column-header-sort-DESC {
    background-image: none;
    color: #c0d9ef;
    background-color: #0d3e80;
}

.x-column-header-open,
.x-column-header-open .x-column-header-trigger {
    color: #c0d9ef;
    background-color: #0d3e80;
}

.x-column-header-trigger {
    border-left: 1px solid #113661;
}

.x-grid-with-row-lines .x-grid-table {
    border-top-color: #113661;
}

.x-grid-group-hd {
    border-color: #113661;
    background: #102d56;
}

.x-grid-group-title {
    color: #458ae6;
}

.x-grid-empty {
    color: #fff;
    background-color: transparent;
}

.x-grid-cell {
    color: #fff;
    border-color: transparent;
    border-style: solid;
    background-color: #12396d;
}

.x-grid-row-alt .x-grid-td {
    background-color: #102d56;
}

.x-grid-row-before-over .x-grid-td {
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.x-grid-row-over .x-grid-td {
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.x-grid-row-before-selected .x-grid-td {
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.x-grid-row-selected .x-grid-td {
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.x-grid-row-before-focused .x-grid-td {
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.x-grid-row-focused .x-grid-td {
    background-color: #4c9aff;
}

.x-grid-row-over .x-grid-td {
    background-color: #4c9aff;
}

.x-grid-row-selected .x-grid-td {
    background-color: #4c9aff;
}

.x-grid-row-focused .x-grid-td {
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.x-grid-with-row-lines .x-grid-row-focused-first .x-grid-td {
    border-top: 1px solid transparent;
}

.x-grid-row-selected .x-grid-row-summary .x-grid-td {
    border-bottom-color: transparent;
    border-top-width: 0;
}

.x-grid-row-focused .x-grid-row-summary .x-grid-td {
    border-bottom-color: transparent;
    border-top-width: 0;
}

.x-grid-with-row-lines .x-grid-td {
    border-bottom-width: 1px;
}

.x-grid-with-row-lines .x-grid-table {
    border-top: 1px solid transparent;
}

.x-grid-with-row-lines .x-grid-table-over-first {
    border-top-style: solid;
    border-top-color: transparent;
}

.x-grid-with-row-lines .x-grid-table-selected-first {
    border-top-style: solid;
    border-top-color: transparent;
}

.x-grid-with-row-lines .x-grid-table-focused-first {
    border-top-style: solid;
    border-top-color: transparent;
}

.x-custom-toolbar {
    border-top: 1px solid #aeaeae;
    border-top-color: #aeaeae !important;
}

.x-custom-toolbar .x-form-item-label {
    color: #a1b9d1;
}

.x-form-text {
    color: #c0d9ef;
    background: #0d3e80;
    border-color: #0d3e80;
}

.x-form-focus {
    border-color: #0d3e80;
}

.x-form-empty-field,
textarea.x-form-empty-field {
    color: #c0d9ef;
}

.x-trigger-cell {
    background-color: #0d3e80;
}

.x-form-trigger-wrap {
    border-color: #0d3e80;
}

.x-form-type-text textarea.x-form-invalid-field,
.x-form-type-text input.x-form-invalid-field,
.x-form-type-password textarea.x-form-invalid-field,
.x-form-type-password input.x-form-invalid-field,
.x-form-type-number textarea.x-form-invalid-field,
.x-form-type-number input.x-form-invalid-field,
.x-form-type-email textarea.x-form-invalid-field,
.x-form-type-email input.x-form-invalid-field,
.x-form-type-search textarea.x-form-invalid-field,
.x-form-type-search input.x-form-invalid-field,
.x-form-type-tel textarea.x-form-invalid-field,
.x-form-type-tel input.x-form-invalid-field {
    color: #c0d9ef;
    background: #0d3e80;
}

.x-form-field::-webkit-input-placeholder {
    color: #c0d9ef;
}

.x-form-field:-moz-placeholder {
    color: #c0d9ef;
}

.x-form-field::-moz-placeholder {
    color: #c0d9ef;
}

.x-form-field:-ms-input-placeholder {
    color: #c0d9ef;
}

.x-boundlist {
    color: #fff;
    background-color: #144585;
    border: 1px solid #157fcc;
}

.x-boundlist-item {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.x-boundlist-selected {
    background: #1a7eff;
    border-color: #1a7eff;
}

.x-boundlist-item-over {
    background: #1a7eff;
    border-color: #1a7eff;
}

.x-toolbar-default {
    border-color: transparent;
    background-color: #113661;
}

.x-toolbar-separator-horizontal {
    border-width: 0;
}

.x-toolbar-text,
.x-form-item-label {
    color: #69b7dc;
}
