@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <title>OAuth接口登录</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="bookmark" type="image/x-icon" href="~/favicon.ico" />
    <link href="@Url.Content("~/Content/bootstrap-3.3.5/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/css/account.login.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            padding-bottom: 0;
        }

        .validation-summary-errors ul {
            text-align: center;
        }
    </style>
</head>
<body class="text-center">
    <div class="center">
        @{
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary)) {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> 登录失败
                    @validationSummary
                </div>
            } else {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    正在登录，请稍后...
                </div>
            }
        }
    </div>
</body>
</html>
