html,
body {
    height: 100%;
}

body {
    font-size: 1.25em;
    font-family: 'Microsoft Yahei', Arial, SimSun, Sans-Serif;
    color: #535353;
    background-color: #f9f9f9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px;
    background: radial-gradient(circle at 50px 50px,#071c36,#062b4b,rgba(7,23,46,1));
}

a, a:active, a:visited, a:link {
    color: #999;
    outline: 0 none;
    text-decoration: none;
}

a:hover {
    color: #337ab7;
}

.center {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.brand {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.brand > img {
    height: 90px;
    width: 90px;
    vertical-align: middle;
}

.title {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.title h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 4px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #7fb7ff;
}

.login {
    margin: 0 auto;
    width: 320px;
    height: auto;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 0;
}

.panel-default > .panel-heading {
    text-align: left;
    color: #535353;
    border-color: #ddd;
    background-color: #f5f5f5;
    padding-left: 17px;
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #7fb7ff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0 auto 5px auto;
}

.qrcode {
    top: 20px;
    right: 20px;
    position: absolute;
}

.qrcode .comment {
    color: #9D9EAE;
    font-size: 12px;
    margin-top: 5px;
}

.error-tips {
    color: #A94442;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-left: 40px;
    text-align: left;
    overflow: hidden;
}

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.captcha {
    margin-left: 5px;
    float: left;
    width: 95px;
    height: 33px;
    cursor: pointer;
}
