body {
    font: 13px/15px 'Microsoft Yahei', Arial, SimSun, Sans-Serif;
}

a, a:hover, a:active, a:visited, a:link {
    color: black;
    outline: 0 none;
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 8px;
    overflow: hidden;
    border-bottom: 1px solid #aeaeae;
}

.header .brand {
    float: left;
    background-image: url("/Content/themes/images/brand.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 267px;
    height: 50px;
}

.header .top-nav {
    float: right;
    margin-top: 2px;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icon-nav li {
    float: left;
    position: relative;
}

.icon-nav li > a {
    position: relative;
    color: #7fb7ff;
    display: block;
    padding: 15px 13px;
    margin: auto 5px;
    border-radius: 5px;
    background: #255492;
}

.icon-nav li > a:hover {
    color: #fff;
    background: #4c9aff;
}

.icon-nav li > .current {
    color: #fff;
    background: #4c9aff;
}

.icon-nav > li > a .label {
    position: absolute;
    right: -8px;
    top: -8px;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #e63a3a;
    border-radius: 10px;
}

.icon-nav .iconfont {
    font-size: 1.8em;
    vertical-align: middle;
}

.clearfix {
    display: block;
}

div.title-bar {
    height: 20px;
    line-height: 20px;
    margin-bottom: 6px;
    position: relative;
}

div.title-bar h1 {
    padding: 0;
    margin: 0;
    color: #f9f9f9;
    font-size: 14px;
}

div.title-bar div.desc {
    display: inline;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 12px;
}

div.title-bar a.help {
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    padding-right: 14px;
    text-decoration: none;
    background-image: url("/Content/themes/images/help-icon.png");
    background-repeat: no-repeat;
    background-position: 0 3px;
}

div.help-tip {
    zoom: 1;
    position: relative;
    margin-bottom: 6px;
}

div.help-tip div.help-arrow {
    height: 5px;
    width: 9px;
    left: 10px;
    top: -5px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("/Content/themes/images/help-arrow.png");
}

div.help-tip div.help-tip-content {
    padding: 10px;
    background: #255492;
    border: 1px solid #255492;
}

div.help-tip div.help-tip-content p.label {
    color: #fff;
    font-weight: bold;
}

div.help-tip div.help-tip-content p.text {
    color: #fff;
}

div.help-tip div.help-tip-content p {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.l {
    float: left;
}

.r {
    float: right;
}

.hidden {
    display: none;
}

/**point status css*/
.point-status-normal {
    background-color: #32cd32;
}

.point-status-level1 {
    background-color: #a01717;
}

.point-status-level2 {
    background-color: #deb139;
}

.point-status-level3 {
    background-color: #cfef19;
}

.point-status-level4 {
    background-color: #218afa;
}

.point-status-opevent {
    background-color: #0000ff;
}

.point-status-invalid {
    background-color: #d3d3d3;
}

.point-status-nullvalue {
    background-color: #0000ff;
}

/**alarm level css*/
.alm-level1 {
    background-color: #a01717;
}

.alm-level2 {
    background-color: #deb139;
}

.alm-level3 {
    background-color: #cfef19;
}

.alm-level4 {
    background-color: #218afa;
}

.all-level-0 {
    background-image: url("/Content/themes/icons/all-level-0.png") !important;
    background-repeat: no-repeat;
}

.all-level-1 {
    background-image: url("/Content/themes/icons/all-level-1.png") !important;
    background-repeat: no-repeat;
}

.all-level-2 {
    background-image: url("/Content/themes/icons/all-level-2.png") !important;
    background-repeat: no-repeat;
}

.all-level-3 {
    background-image: url("/Content/themes/icons/all-level-3.png") !important;
    background-repeat: no-repeat;
}

.all-level-4 {
    background-image: url("/Content/themes/icons/all-level-4.png") !important;
    background-repeat: no-repeat;
}

.diqiu-level-0 {
    background-image: url("/Content/themes/icons/diqiu-level-0.png") !important;
    background-repeat: no-repeat;
}

.diqiu-level-1 {
    background-image: url("/Content/themes/icons/diqiu-level-1.png") !important;
    background-repeat: no-repeat;
}

.diqiu-level-2 {
    background-image: url("/Content/themes/icons/diqiu-level-2.png") !important;
    background-repeat: no-repeat;
}

.diqiu-level-3 {
    background-image: url("/Content/themes/icons/diqiu-level-3.png") !important;
    background-repeat: no-repeat;
}

.diqiu-level-4 {
    background-image: url("/Content/themes/icons/diqiu-level-4.png") !important;
    background-repeat: no-repeat;
}

.juzhan-level-0 {
    background-image: url("/Content/themes/icons/juzhan-level-0.png") !important;
    background-repeat: no-repeat;
}

.juzhan-level-1 {
    background-image: url("/Content/themes/icons/juzhan-level-1.png") !important;
    background-repeat: no-repeat;
}

.juzhan-level-2 {
    background-image: url("/Content/themes/icons/juzhan-level-2.png") !important;
    background-repeat: no-repeat;
}

.juzhan-level-3 {
    background-image: url("/Content/themes/icons/juzhan-level-3.png") !important;
    background-repeat: no-repeat;
}

.juzhan-level-4 {
    background-image: url("/Content/themes/icons/juzhan-level-4.png") !important;
    background-repeat: no-repeat;
}

.device-level-0 {
    background-image: url("/Content/themes/icons/device-level-0.png") !important;
    background-repeat: no-repeat;
}

.device-level-1 {
    background-image: url("/Content/themes/icons/device-level-1.png") !important;
    background-repeat: no-repeat;
}

.device-level-2 {
    background-image: url("/Content/themes/icons/device-level-2.png") !important;
    background-repeat: no-repeat;
}

.device-level-3 {
    background-image: url("/Content/themes/icons/device-level-3.png") !important;
    background-repeat: no-repeat;
}

.device-level-4 {
    background-image: url("/Content/themes/icons/device-level-4.png") !important;
    background-repeat: no-repeat;
}

/**custom button css*/
a.custom-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.custom-primary {
    color: #f9f9f9;
    background: rgba(51,122,183, 0.5);
    border-color: rgba(46,109,164, 0.5);
}

a.custom-primary:hover {
    color: #f9f9f9;
    background: rgba(40,96,144, 0.5);
    border-color: rgba(32,77,116, 0.5);
}

a.custom-primary:active {
    color: #f9f9f9;
    background: rgba(40,96,144, 0.5);
    border-color: rgba(32,77,116, 0.5);
}

a.custom-success {
    color: #f9f9f9;
    background: rgba(92,184,92, 0.5);
    border-color: rgba(76,174,76, 0.5);
}

a.custom-success:hover {
    color: #f9f9f9;
    background: rgba(68,157,68, 0.5);
    border-color: rgba(57,132,57, 0.5);
}

a.custom-success:active {
    color: #f9f9f9;
    background: rgba(68,157,68, 0.5);
    border-color: rgba(57,132,57, 0.5);
}

a.custom-info {
    color: #f9f9f9;
    background: rgba(91,192,222, 0.5);
    border-color: rgba(70,184,218, 0.5);
}

a.custom-info:hover {
    color: #f9f9f9;
    background: rgba(49,176,213, 0.5);
    border-color: rgba(38,154,188, 0.5);
}

a.custom-info:active {
    color: #f9f9f9;
    background: rgba(49,176,213, 0.5);
    border-color: rgba(38,154,188, 0.5);
}

a.custom-warning {
    color: #f9f9f9;
    background: rgba(240,173,78, 0.5);
    border-color: rgba(238,162,54, 0.5);
}

a.custom-warning:hover {
    color: #f9f9f9;
    background: rgba(236,151,31, 0.5);
    border-color: rgba(213,133,18, 0.5);
}

a.custom-warning:active {
    color: #f9f9f9;
    background: rgba(236,151,31, 0.5);
    border-color: rgba(213,133,18, 0.5);
}

a.custom-danger {
    color: #f9f9f9;
    background: rgba(217,83,79, 0.5);
    border-color: rgba(212,63,58, 0.5);
}

a.custom-danger:hover {
    color: #f9f9f9;
    background: rgba(201,48,44, 0.5);
    border-color: rgba(172,41,37, 0.5);
}

a.custom-danger:active {
    color: #f9f9f9;
    background: rgba(201,48,44, 0.5);
    border-color: rgba(172,41,37, 0.5);
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #f9f9f9;
    background: rgba(217,237,247, 0.2);
    border-color: rgba(188,232,241, 0.2);
}

.customBody {
    background: radial-gradient(circle at 50px 50px,#071c36,#062b4b,rgba(7,23,46,1));
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #1369bf;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: #2982fb;
    background-clip: content-box;
}

::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    display: block;
    width: 0;
    height: 0;
    background-color: transparent
}

.cell-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 8px;
}
