<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="RcmsCfgConnection" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=RMA_Y1;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Aa1;Pooling=True;Min Pool Size=5;Max Pool Size=500;MultipleActiveResultSets=True;Connect Timeout=120" />
  <add name="RcmsHisConnection" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=RDA_Y1;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Aa1;Pooling=True;Min Pool Size=5;Max Pool Size=500;MultipleActiveResultSets=True;Connect Timeout=120" />
</connectionStrings>
