.x-mcombo-item-checked {
    background-image: url(/Content/themes/images/ux/checked.png);
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 18px;
}

.x-mcombo-item-unchecked {
    background-image: url(/Content/themes/images/ux/unchecked.png);
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 18px;
}
